<section
  class="py-24 p-md-24 d-flex justify-center align-center bg-primary-200 mb-64 mb-md-32"
>
  <h4 class="h4 h5-md me-24 me-md-16">加入會員取得 9 折優惠</h4>
  <a class="btn-neutral-fill" href="#">馬上註冊</a>
</section>
<nav class="container mb-24">
  <ul
    class="row d-flex d-flex-md-column justify-flex-end justif-md-flex-star align-center align-md-flex-start py-12 py-md-0 px-md-12"
  >
    <li class="logo m-right-auto">
      <a class="link logo-txt" href="index.html">URBNSTEP </a>
    </li>

    <li class="me-40">
      <a class="link py-12 px-md-12" href="products.html">商品列表</a>
    </li>
    <li class="">
      <a class="link py-12 px-md-12" href="story.html">品牌故事</a>
    </li>
  </ul>
</nav>
<footer class="footer">
  <div class="footer-content">
    <p>Copyright ©2025 URBNSTYLE</p>
    <p>All Rights Reserved.</p>
  </div>
</footer>
<script type="module" src="../main.js"></script>
