<nav class="container py-16 py-md-12">
  <div class="row">
    <ul
      class="col-12 col-md-4 d-flex justify-flex-start justif-md-space-between align-center py-12"
    >
      <li class="logo me-48">
        <a class="link logo-txt" href="index.html">URBNSTEP </a>
      </li>
      <li class="me-40 d-md-none">
        <a class="link py-12" href="products.html">商品列表</a>
      </li>
      <li class="d-md-none">
        <a class="link py-12" href="story.html">品牌故事</a>
      </li>
      <li class="m-left-auto">
        <a class="link width-40 p-12" href="#"><i class="bi bi-person"></i></a>
      </li>
    </ul>
  </div>
</nav>
