.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.p-12 {
  padding: 12px;
}
.p-24 {
  padding: 24px;
}
.p-32 {
  padding: 32px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.py-7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}
.py-151 {
  padding-top: 151px;
  padding-bottom: 151px;
}
.pb-24 {
  padding-bottom: 24px;
}
.pb-48 {
  padding-bottom: 48px;
}

@media (max-width: 767px) {
  .py-md-5-5 {
    padding-top: 5.5px;
    padding-bottom: 5.5px;
  }
  .py-md-9-5 {
    padding-top: 9.5px;
    padding-bottom: 9.5ppx;
  }
  .p-md-24 {
    padding: 24px;
  }
  .px-md-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .py-md-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .py-md-12 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .py-md-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .py-md-87 {
    padding-top: 87px;
    padding-bottom: 87px;
  }
  .pb-md-32 {
    padding-bottom: 32px;
  }
  .pb-md-24 {
    padding-bottom: 24px;
  }
  .pb-md-16 {
    padding-bottom: 16px;
  }
}
