<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>產品列表</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <%- include('./layout/nav'); -%>

    <section class="container py-32 py-md-16">
      <nav class="products-nav mb-24 mb-md-12">
        <a href="index.html" class="nav-item link slash">首頁</a>
        <a href="#" class="nav-item link slash">女鞋</a>
        <a href="#" class="nav-item link">所有商品</a>
      </nav>
      <h3 class="h3 h4-md py-7 py-md-9-5 mb24 mb-md-12">女鞋</h3>
      <div class="row d-flex">
        <ul class="chk-line side-nav col-2 d-flex d-flex-column d-md-none">
          <a href="#" class="link py-12 mb-16 txt-primary-400">所有商品</a>
          <a href="#" class="link py-12 mb-16">慢跑鞋</a>
          <a href="#" class="link py-12 mb-16">滑板鞋</a>
          <a href="#" class="link py-12 mb-16">厚底鞋</a>
          <a href="#" class="link py-12 mb-16">限定 / 聯名企劃</a>
        </ul>
        <ul class="cards row col-8 col-md-4 d-flex d-flex-wrap">
          <li class="card col-4 col-md-2 mb-48 mb-md-24">
            <a href="#" class="link">
              <img
                src="../assets/images/products/Product-01.png"
                alt="PLATFORM 404"
                class="card-img mb-12 mb-md-8"
              />
              <p class="h6 mb-4 mb-md-0">PLATFORM 404</p>
              <p class="price">NT$2,600</p>
            </a>
          </li>
          <li class="card col-4 col-md-2 mb-48 mb-md-24">
            <a href="#" class="link">
              <img
                src="../assets/images/products/Product-02.png"
                alt="PLATFORM 404"
                class="card-img mb-12 mb-md-8"
              />
              <p class="h6 mb-4 mb-md-0">PLATFORM 404</p>
              <p class="price">NT$2,600</p>
            </a>
          </li>
          <li class="card col-4 col-md-2 mb-48 mb-md-24">
            <a href="#" class="link">
              <img
                src="../assets/images/products/Product-03.png"
                alt="VM001"
                class="card-img mb-12 mb-md-8"
              />
              <p class="h6 mb-4 mb-md-0">VM001</p>
              <p class="price">NT$2,600</p>
            </a>
          </li>
          <li class="card col-4 col-md-2 mb-48 mb-md-24">
            <a href="#" class="link">
              <img
                src="../assets/images/products/Product-04.png"
                alt="Melty Kiss"
                class="card-img mb-12 mb-md-8"
              />
              <p class="h6 mb-4 mb-md-0">Melty Kiss</p>
              <p class="price">NT$4,000</p>
            </a>
          </li>
          <li class="card col-4 col-md-2 mb-48 mb-md-24">
            <a href="#" class="link">
              <img
                src="../assets/images/products/Product-05.png"
                alt="BOOMBLOK"
                class="card-img mb-12 mb-md-8"
              />
              <p class="h6 mb-4 mb-md-0">BOOMBLOK</p>
              <p class="price">NT$3,200</p>
            </a>
          </li>
          <li class="card col-4 col-md-2 mb-48 mb-md-24">
            <a href="#" class="link">
              <img
                src="../assets/images/products/Product-06.png"
                alt="BOOMBLOK"
                class="card-img mb-12 mb-md-8"
              />
              <p class="h6 mb-4 mb-md-0">BOOMBLOK</p>
              <p class="price">NT$3,200</p>
            </a>
          </li>
          <li class="card col-4 col-md-2 mb-48 mb-md-24">
            <a href="#" class="link">
              <img
                src="../assets/images/products/Product-07.png"
                alt="R:UNER"
                class="card-img mb-12 mb-md-8"
              />
              <p class="h6 mb-4 mb-md-0">R:UNER</p>
              <p class="price">NT$4,000</p>
            </a>
          </li>
          <li class="card col-4 col-md-2 mb-48 mb-md-24">
            <a href="#" class="link">
              <img
                src="../assets/images/products/Product-08.png"
                alt="Sugar Snap"
                class="card-img mb-12 mb-md-8"
              />
              <p class="h6 mb-4 mb-md-0">Sugar Snap</p>
              <p class="price">NT$4,000</p>
            </a>
          </li>
          <li class="card col-4 col-md-2 mb-48 mb-md-24">
            <a href="#" class="link">
              <img
                src="../assets/images/products/Product-09.png"
                alt="Neofoam"
                class="card-img mb-12 mb-md-8"
              />
              <p class="h6 mb-4 mb-md-0">Neofoam</p>
              <p class="price">NT$4,000</p>
            </a>
          </li>
          <li class="card col-4 col-md-2 mb-48 mb-md-24 d-none d-md-block">
            <a href="#" class="link">
              <img
                src="../assets/images/products/Product-10.png"
                alt="Neofoam"
                class="card-img mb-12 mb-md-8"
              />
              <p class="h6 mb-4 mb-md-0">Neofoam</p>
              <p class="price">NT$4,000</p>
            </a>
          </li>
          <ul
            class="page-nav col-12 col-md-4 d-flex justify-center .align-center mb-32 mb-md-16"
          >
            <li class="prev-page me-12">
              <a href="#" class="link"><i class="bi bi-chevron-left"></i></a>
            </li>
            <li class="item-page me-8">
              <a class="link active" href="#">1</a>
            </li>
            <li class="item-page me-8">
              <a class="link" href="#">2</a>
            </li>
            <li class="item-page me-8">
              <a class="link" href="#">3</a>
            </li>
            <li class="item-page me-8">
              <a class="link" href="#">…</a>
            </li>
            <li class="item-page me-12">
              <a class="link" href="#">10</a>
            </li>
            <li class="next-page">
              <a href="#" class="link"><i class="bi bi-chevron-right"></i></a>
            </li>
          </ul>
        </ul>
      </div>
    </section>

    <%- include('./layout/footer'); -%>
  </body>
</html>
